body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #6a0ea0;
}

header {
  background-color: #580a86;
  color: #fff;
  text-align: center;
  padding: 20px;
}

section {
  margin: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #fff;
}

.tag-line {
  color: rgba(255, 255, 255, 0.887);
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
  color: #555;
}
.services-section {
  margin: 2rem;
  /* width: 100%; */
  border: 2px solid #6a0ea0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}
.services-section h2 {
  text-align: center;
}

.service-category {
  /* box-shadow: #555; */
  flex-basis: 20%;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}
.service-image {
  width: 100%;
  height: 100%;
}
.service-modal {
  position: absolute;
  background: #0000009b;
  /* background: #6a0ea059; */
  padding: 1rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.book-button {
  text-decoration: none;
  background-color: #6a0ea0;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.book-button:hover {
  background-color: #951fd9;
}

.service-modal h3 {
  text-decoration: underline;
}
.service-modal p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #6a0ea0;
  padding: 2rem;
  gap: 1rem;
}

footer div {
  display: flex;
  background-color: #6a0ea0;
  gap: 1rem;
  justify-content: center;
}
footer a {
  color: #fff;
}
footer p {
  width: 100%;
  text-align: center;
  color: #fff;
}
footer p span {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .services {
    flex-direction: column;
  }
  footer {
    flex-wrap: wrap;
  }
}
